@font-face {
  font-family: "ColfaxAI";
  src:
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ColfaxAI";
  src:
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.body,
.input {
  font-size: 14px;
  line-height: 21px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.icon {
  width: 34px;
}

.h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 0;
}

.buttonGroup{ 
  position: absolute;
  left: 20px;
  display: flex;
  gap: 25px;
}

.myButton {
  align-self: center; /* Center the button horizontally */
  margin-top: 10px; /* Adjust spacing as needed */
  padding: 10px;
  background-color: #007bff; /* Customize button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.myButton2 {
  align-self: center; /* Center the button horizontally */
  background-color: #007bff; /* Customize button color */
  color: white;
  border: none;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}

.myButton:hover, .myButton2:hover{
  background-color: #0056b3; /* Customize the hover color */
}

.contentArea {
  flex-grow: 1;
}

.dataButton { 
  font-size: 16px;
  cursor: pointer;
  background-color: #e0e0e1;
  color: black;
  border: none;
  border-radius: 5px;  
  text-decoration: none;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  padding: 10px;
}

.dataButton:hover {
  background-color: #afafb1;
}

.listing {
  text-align: center;
  font-weight: bold;
}

.pageContainer {
  display: flex;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: flex-start;
}

.leftTextBox {
  width: 50%;
  max-width: 50%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}

.chatContainer {
  width: 50%;
  max-width: 50%;
  margin-left: auto;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  padding-bottom: 160px;
  margin-bottom: 20px;
  overflow: auto;
}

.chatBox {
  display: flex;
  flex-direction: column; /* Arrange elements vertically */
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  width: 30%;
  padding: 12px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin: 0 10px;
  background-color: #f1f1f1;
  min-height: 200px;
  box-sizing: border-box;
  position: relative;
}


.chatBox .highlightRed {
  color: red; /* Ensure this overrides any parent styles */
}

.chatBox .highlightYellow {
  color:darkgoldenrod; /* Ensure this overrides any parent styles */
}

.chatBox2 {
  width: 100%;
  padding: 12px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin: 20px 10px 20px;
  background-color: #f1f1f1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.scoreBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.leftText {
  text-align: left;
}


.successMessage {
  position: fixed;
  top: -50px;
  right: auto;
  left: auto;
  background-color: #10a37f;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border-radius: 3px;
  transition: top 0.5s ease-in-out;
  z-index: 1000;
}

.errorMessage {
  position: fixed;
  top: -50px;
  right: auto;
  left: auto;
  background-color: #c32222;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border-radius: 3px;
  transition: top 0.5s ease-in-out;
  z-index: 1000;
}

.show {
  top: 15px; /* Slide down to the top of the screen */
}

.hide {
  top: -50px; /* Slide back up off the screen */
}

.userMessage,
.assistantMessage {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 8px;
  max-width: 80%;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.userMessage {
  align-self: flex-end;
  background-color: #daf8e3;
}

.assistantMessage {
  align-self: flex-start;
  background-color: #f1f1f1;
}

.messageInputContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  height: auto;
  padding-bottom: 20px;
}

.heading1 {
  text-align: center; /* Centers text horizontally */
  width: 100%; /* Ensures the heading takes full width of its container */
  margin: 0 auto; /* Applies automatic horizontal margins */
}

.container {
 width: 80%;
 margin: 0 auto;
}

.main {
 padding: 20px;
}

.title {
 text-align: center;
}

.tableContainer {
 margin-top: 20px;
 text-align: center; /* Center align the table container */
}

.table {
 width: 100%; /* Adjust table width as needed */
 margin: 0 auto; /* Center align the table */
 border-collapse: collapse;
}

.table th, .table td {
 border: 1px solid #ddd;
 padding: 8px;
 text-align: center; /* Center align table cell contents */
}

.table th {
 background-color: #f2f2f2;
}


.form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textarea {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
  width: 100%;
  min-height: 50px;
  resize: both;
  overflow: auto;
  margin-right: 4px;
  flex: 3;
}

.inputSubmit,
.inputButton,
.inputGen {
  padding: 12px 16px;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  flex: 1;
  margin: 0 2px;
}

.inputSubmit:hover {
  background-color: #0c785d;
}

.inputSubmit {
  flex-grow: 4;
}

.inputButton {
  flex-grow: 1;
  background-color: #f44336;
}

.inputButton:hover {
  background-color: #af2f26;
}

.inputGen {
  flex-grow: 1;
  background-color: #1f8de1;
}

.inputGen:hover {
  background-color: #0b65aa;
}

.inputText {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
}

.loadingText {
  font-size: 32px;
  text-align: center;
  color: #8e8ea0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0;
  width: 100%;
}

.loadingTextsmall {
  font-size: 16px;
  text-align: center;
  color: #8e8ea0;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.placeholder {
  color: #8e8ea0;
  opacity: 1;
}

.result {
  font-weight: bold;
  margin-top: 40px;
}
