@font-face {
  font-family: "ColfaxAI";
  src:
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ColfaxAI";
  src:
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.body,
.input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.icon {
  width: 34px;
}

.h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}

.chatContainer {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow wrapping to the next line */
  align-items: center;
  justify-content: space-between;
  padding-bottom: 160px;
  margin-bottom: 20px;
  overflow: auto;
}

.chatBox {
  width: 30%; /* Each box will take 30% of the container width */
  padding: 12px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin: 0 10px; /* Add some margin between boxes */
  background-color: #f1f1f1;
  min-height: 300px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.chatBox2 {
  width: 100%;
  padding: 12px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin: 20px 0 20px; /* Add some margin above the box */
  background-color: #f1f1f1;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text horizontally */
}

.userMessage,
.assistantMessage {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 8px;
  max-width: 80%;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.userMessage {
  align-self: flex-end;
  background-color: #daf8e3;
}

.assistantMessage {
  align-self: flex-start;
  background-color: #f1f1f1;
}

.messageInputContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  height: auto;
  padding-bottom: 20px;
}

.heading1 {
  text-align: center; /* Centers text horizontally */
  width: 100%; /* Ensures the heading takes full width of its container */
  margin: 0 auto; /* Applies automatic horizontal margins */
}

.form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textarea {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
  width: 100%;
  min-height: 50px;
  resize: both;
  overflow: auto;
  margin-right: 4px;
  flex: 3;
}

.buttonGroup {
  display: flex;
}

.inputSubmit,
.inputButton,
.inputGen {
  padding: 12px 16px;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  flex: 1;
  margin: 0 2px;
}

.inputSubmit:hover {
  background-color: #0c785d;
}

.inputSubmit {
  flex-grow: 4;
}

.inputButton {
  flex-grow: 1;
  background-color: #f44336;
}

.inputButton:hover {
  background-color: #af2f26;
}

.inputGen {
  flex-grow: 1;
  background-color: #1f8de1;
}

.inputGen:hover {
  background-color: #0b65aa;
}

.inputText {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
}

.loadingText {
  font-size: 32px;
  text-align: center;
  color: #8e8ea0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  margin-bottom: 0;
  width: 100%;
}

.loadingTextsmall {
  font-size: 12px;
  color: #8e8ea0;
  margin-top: 10px;
}

.placeholder {
  color: #8e8ea0;
  opacity: 1;
}

.result {
  font-weight: bold;
  margin-top: 40px;
}
